.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.menu {
  height: 350px;
  background-color: rgb(223, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
img {
  width: 250px;
  height: 200px;

  border-radius: 7px;
  background-color: rgb(223, 216, 216);
}
.text {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sub {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.size {
  padding: 5px;
  background-color: yellow;
  border-radius: 9999px;
  width: fit-content;
  font-size: 10px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
