.category {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}
.category > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 9999px;
  margin-bottom: 20px;
}
.text {
}
