header {
  width: 110vw;
  height: 60px;
}
nav {
  width: 100%;
  max-width: 1000px;
  height: 100%;

  margin: 0 auto;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
strong {
  width: 700;
  font-size: 20px;
}
ul > li {
  padding: 3px 20px;
}
