.container {
  background-image: url("ben-hershey-K9HgyI3qmqA-unsplash.jpg");
  font-size: 25px;
  width: 200px;
  height: 350px;
  background-size: cover;
  position: relative;
}
.container > i {
  background-color: white;
  padding: 15px;
  width: fit-content;
  border-radius: 9999px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
